/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* media */
@media screen and (max-width: 449.99px) {
  /* header */
  .main header {
    margin: 30px 30px 0px;
  }
  .site_name {
    font-size: 26px;
  }
  .login_button {
    padding: 3px;
    width: 30px;
    height: 30px;
    border-radius: 33px;
  }
}
@media screen and (min-width: 450px) and (max-width: 767.99px) {
  /* header */
  .main header {
    margin: 30px 50px 0px;
  }
  .site_name {
    font-size: 32px;
  }
  .login_button {
    padding: 4px;
    width: 35px;
    height: 35px;
    border-radius: 35px;
  }
}
@media screen and (min-width: 768px) {
  /* header */
  .main header {
    margin: 50px 80px 0px;
  }
  .site_name {
    font-size: 40px;
  }
  .login_button {
    padding: 5px;
    width: 45px;
    height: 45px;
    border-radius: 45px;
  }
}
/* main */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main {
  overflow-x: hidden;
  max-width: 1400px;
  width: 100%;
  min-height: 100vh;
  background-color: #202020;
}
.main header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site_name {
  font-family: medium;
  background: linear-gradient(#5DA7F4, #4A46F7);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.login_button {
  background: linear-gradient(#5394d9, #0A06F7);
}
.login_icon {
  width: 100%;
  height: 100%;
  background-image: url("images/login.svg");
  background-size: contain;
}
/* nav */
.main nav {
  margin: 30px 80px 0px;
}
.nav_chapter {
  font-size: 20px;
  margin-right: 40px;
}
.nav_text {
  display: flex;
}
.nav_chapter {
  font-family: regular;
}
.nav_chapter a {
  text-decoration: none;
  color: #f2f2f2;
}
#chapter_active {
  box-sizing: content-box;
  padding-bottom: 15px;
  border-bottom: 1px solid #f2f2f2;
}
.separator {
  background-color: #f2f2f2;
  opacity: 0.5;
  width: 100%;
  height: 1px;
  position: relative;
  bottom: 1px;
}
/* balance */
.balance_wrap {
  margin: 30px 80px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.balance_no_button {
  display: flex;
  align-items: center;
}
.balance_text {
  line-height: 40px;
  font-family: regular;
  font-size: 26px;
  color: #f2f2f2;
}
.balance {
  line-height: 40px;
  margin-left: 30px;
  font-family: regular;
  font-size: 26px;
  color: #F3D645;
}
.output_button {
  text-decoration: none;
  font-family: regular;
  font-size: 20px;
  color: #f2f2f2;
  background-color: rgba(242, 242, 242, 0.25);
  border-radius: 10px;
  line-height: 39px;
  height: 40px;
  padding: 0px 30px;
}
/* outputs */
.outputs_wrap {
  display: flex;
  flex-direction: column;
  margin: 30px 80px 0px;
}
.outputs_text {
  font-family: regular;
  font-size: 22px;
  color: #f2f2f2;
}
.outputs {
  display: flex;
  flex-direction: column;
}
.outputs a {
  text-decoration: none;
}
.output_wrap {
  margin-top: 20px;
}
.output {
  background-color: rgba(242, 242, 242, 0.25);
  border-radius: 10px;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.output_system {
  font-family: regular;
  font-size: 16px;
  color: #f2f2f2;
}
.output_sum {
  font-family: medium;
  font-size: 20px;
  color: #5B73FF;
}
/* history */
.historys_wrap {
  display: flex;
  flex-direction: column;
  margin: 30px 80px 0px;
}
.history_text {
  font-family: regular;
  font-size: 22px;
  color: #f2f2f2;
}
.historys {
  display: flex;
  flex-direction: column;
}
.historys a {
  text-decoration: none;
}
.history_wrap {
  margin-top: 20px;
}
.history {
  background-color: rgba(242, 242, 242, 0.25);
  border-radius: 10px;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.history_system {
  font-family: regular;
  font-size: 16px;
  color: #f2f2f2;
}
.history_sum {
  font-family: medium;
  font-size: 20px;
  color: #5B73FF;
}
/* accounts */
.accounts_wrap {
  display: flex;
  flex-direction: column;
  margin: 30px 80px 0px;
}
.accounts_text {
  font-family: regular;
  font-size: 22px;
  color: #f2f2f2;
}
.accounts {
  display: flex;
  flex-direction: column;
}
.accounts a {
  text-decoration: none;
}
.account_wrap {
  margin-top: 20px;
}
.account {
  background-color: rgba(242, 242, 242, 0.25);
  border-radius: 10px;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.account_name {
  font-family: regular;
  font-size: 16px;
  color: #f2f2f2;
}
.account_price {
  font-family: medium;
  font-size: 20px;
  color: #5B73FF;
}
.more_wrap {
  display: flex;
  justify-content: center;
}
.more {
  display: block;
  text-decoration: none;
  font-family: regular;
  font-size: 20px;
  color: #5B73FF;
  margin-top: 30px;
}
/* changes */
.changes_wrap {
  display: flex;
  flex-direction: column;
  margin: 30px 80px 0px;
}
.changes_text {
  font-family: regular;
  font-size: 22px;
  color: #f2f2f2;
}
.changes {
  display: flex;
  flex-direction: column;
}
.changes a {
  text-decoration: none;
}
.change_wrap {
  margin-top: 20px;
}
.change {
  background-color: rgba(242, 242, 242, 0.25);
  border-radius: 10px;
  padding: 12px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.change_name {
  font-family: regular;
  font-size: 16px;
  color: #f2f2f2;
}
.support_wrap {
  display: flex;
  justify-content: center;
}
.support {
  display: block;
  text-decoration: none;
  font-family: regular;
  font-size: 20px;
  color: #5B73FF;
  margin-top: 30px;
  margin-bottom: 50px; /* end of page */
}
@font-face {
  font-family: light;
  src: url("fonts/Montserrat-Light.ttf");
}
@font-face {
  font-family: regular;
  src: url("fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: medium;
  src: url("fonts/Montserrat-Medium.ttf");
}
.login_button:hover, #chapter_passive:hover, .output_button:hover, .more:hover, .support:hover, .output_wrap:hover, .history_wrap:hover, .account_wrap:hover, .change_wrap:hover {
  transform: translateY(-4px);
  transition-duration: 200ms;
}
.login_button:active, #chapter_passive:active, .output_button:active, .more:active, .support:active, .output_wrap:hover, .history_wrap:active, .account_wrap:active, .change_wrap:active {
  transform: translateY(-2px);
  transition-duration: 250ms;
}