/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* media */
@media screen and (max-width: 449.99px) {
  /* header */
  .main header {
    margin: 30px 30px 0px;
  }
  .site_name {
    font-size: 26px;
  }
  .login_button {
    padding: 3px;
    width: 30px;
    height: 30px;
    border-radius: 33px;
  }
}
@media screen and (min-width: 450px) and (max-width: 767.99px) {
  /* header */
  .main header {
    margin: 30px 50px 0px;
  }
  .site_name {
    font-size: 32px;
  }
  .login_button {
    padding: 4px;
    width: 35px;
    height: 35px;
    border-radius: 35px;
  }
}
@media screen and (min-width: 768px) {
  /* header */
  .main header {
    margin: 50px 80px 0px;
  }
  .site_name {
    font-size: 40px;
  }
  .login_button {
    padding: 5px;
    width: 45px;
    height: 45px;
    border-radius: 45px;
  }
}
/* main */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main {
  overflow-x: hidden;
  max-width: 1400px;
  width: 100%;
  min-height: 100vh;
  background-color: #202020;
}
.main header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site_name {
  font-family: medium;
  background: linear-gradient(#5DA7F4, #4A46F7);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.login_button {
  background: linear-gradient(#5394d9, #0A06F7);
}
.login_icon {
  width: 100%;
  height: 100%;
  background-image: url("images/login.svg");
  background-size: contain;
}
/* nav */
.main nav {
  margin: 30px 80px 0px;
}
.nav_chapter {
  font-size: 20px;
  margin-right: 40px;
}
.nav_text {
  display: flex;
}
.nav_chapter {
  font-family: regular;
}
.nav_chapter a {
  text-decoration: none;
  color: #f2f2f2;
}
#chapter_active {
  box-sizing: content-box;
  padding-bottom: 15px;
  border-bottom: 1px solid #f2f2f2;
}
.separator {
  background-color: #f2f2f2;
  opacity: 0.5;
  width: 100%;
  height: 1px;
  position: relative;
  bottom: 1px;
}
/* sell */
.sell_wrap {
  margin: 30px 80px 0px;
}
.sell_text {
  font-family: regular;
  font-size: 20px;
  color: #f2f2f2;
}
.sell_text a {
  text-decoration: none;
  color: #5B73FF;
}
#st2 {
  opacity: 0.75;
  margin-top: 15px;
  margin-bottom: 5px;
}
.form_text {
  margin-top: 25px;
  font-family: regular;
  font-size: 18px;
  color: #f2f2f2;
  opacity: 0.75;
}
form {
  margin: 0px 80px;
  display: flex;
  flex-direction: column;
}
input {
  height: 45px;
  margin-top: 15px;
}
.field {
  background-color: rgba(242, 242, 242, 0.25);
  border: none;
  border-radius: 10px;
  padding: 12px 24px;
  font-family: regular;
  color: #f2f2f2;
  font-size: 20px;
}
.button {
  cursor: pointer;
  background-color: #F3D645;
  border-radius: 10px;
  border: none;
  padding: 0px 30px;
  margin-top: 30px;
  align-self: center;
  font-family: medium;
  font-size: 20px;
  color: #101010;
}
.end_text_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 50px; /* end of page */
}
.end_text {
  width: 500px;
  text-align: center;
  font-family: regular;
  font-size: 22px;
  color: #f2f2f2;
}
.end_text a {
  text-decoration: none;
  color: #5B73FF;
}
@font-face {
  font-family: light;
  src: url("fonts/Montserrat-Light.ttf");
}
@font-face {
  font-family: regular;
  src: url("fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: medium;
  src: url("fonts/Montserrat-Medium.ttf");
}
.login_button:hover, #chapter_passive:hover, .button:hover {
  transform: translateY(-4px);
  transition-duration: 200ms;
}
.login_button:active, #chapter_passive:active, .button:active {
  transform: translateY(-2px);
  transition-duration: 250ms;
}