<!DOCTYPE html>
<html lang="ru">
<head>
  <link rel="stylesheet" href="css/games.css">

  <title>Интернет магазин игровых аккаунтов</title>
</head>

<body>
  <div class="main">

    <!-- header -->
    <header>
      <div class="site_name">Quazar Games</div>
      <a href="#">
        <div class="login_button">
          <div class="login_icon"></div>
        </div>
      </a>
    </header>

    <!-- nav -->
    <nav>
      <div class="nav_text">
        <div class="nav_chapter" id="chapter_passive"><a href="index.html">Главная</a></div>
        <div class="nav_chapter" id="chapter_active"><a href="games.html">Купить</a></div>
        <div class="nav_chapter" id="chapter_passive"><a href="sell.html">Продать</a></div>
        <div class="nav_chapter" id="chapter_passive"><a href="guide.html">Гайд</a></div>
        <div class="nav_chapter" id="chapter_passive"><a href="profile.html">Профиль</a></div>
      </div>
      <div class="separator"></div>
    </nav>

    <!-- games -->
    <div class="games_wrap">
      <div class="games_text">Можно купить аккаунты по этим играм</div>
      <div class="games">
        <!-- games list -->
        <div class="game_wrap"><a href="#">
          <div class="game">
            <div class="game_name">Clash of Clans</div>
            <div class="game_no_name">
              <div class="accounts">аккаунтов</div>
              <div class="accounts_count">7, 493</div>
            </div>
          </div>
        </a></div>
        <div class="game_wrap"><a href="#">
          <div class="game">
            <div class="game_name">Clash Royale</div>
            <div class="game_no_name">
              <div class="accounts">аккаунтов</div>
              <div class="accounts_count">5, 323</div>
            </div>
          </div>
        </a></div>
        <div class="game_wrap"><a href="#">
          <div class="game">
            <div class="game_name">Brawl Stars</div>
            <div class="game_no_name">
              <div class="accounts">аккаунтов</div>
              <div class="accounts_count">9, 670</div>
            </div>
          </div>
        </a></div>
        <!-- end of games list -->
      </div>
    </div>

    <!-- end text -->
    <div class="end_text_wrap">
      <div class="end_text">Мы стараемся активно расширять список игр</div>
    </div>

  </div>
</body>
</html>