<!DOCTYPE html>
<html lang="ru">
<head>
  <link rel="stylesheet" href="css/guide.css">

  <title>Интернет магазин игровых аккаунтов</title>
</head>

<body>
  <div class="main">

    <!-- header -->
    <header>
      <div class="site_name">Quazar Games</div>
      <a href="#">
        <div class="login_button">
          <div class="login_icon"></div>
        </div>
      </a>
    </header>

    <!-- nav -->
    <nav>
      <div class="nav_text">
        <div class="nav_chapter" id="chapter_passive"><a href="index.html">Главная</a></div>
        <div class="nav_chapter" id="chapter_passive"><a href="games.html">Купить</a></div>
        <div class="nav_chapter" id="chapter_passive"><a href="sell.html">Продать</a></div>
        <div class="nav_chapter" id="chapter_active"><a href="guide.html">Гайд</a></div>
        <div class="nav_chapter" id="chapter_passive"><a href="profile.html">Профиль</a></div>
      </div>
      <div class="separator"></div>
    </nav>

    <!-- guide -->
    <div class="guide_wrap">
      <div class="base_text">Основы</div>
      <div class="bases">
        <!-- questions -->
        <div class="base_wrap"><a href="#">
          <div class="base">
            <div class="base_name">1. Правила интернет-магазина "Quazar Games"</div>
          </div>
        </a></div>
        <div class="base_wrap"><a href="#">
          <div class="base">
            <div class="base_name">2. Продажа аккаунтов и вывод средств</div>
          </div>
        </a></div>
        <div class="base_wrap"><a href="#">
          <div class="base">
            <div class="base_name">3. Процесс покупки аккаунта</div>
          </div>
        </a></div>
        <!-- end of bases -->
      </div>
      <div class="questions_text">Вопросы</div>
      <div class="questions">
        <!-- questions -->
        <div class="question_wrap"><a href="#">
          <div class="question">
            <div class="question_name">1. Как долго происходит вывод средств?</div>
          </div>
        </a></div>
        <div class="question_wrap"><a href="#">
          <div class="question">
            <div class="question_name">2. Какие гарантии, что аккаунт станет моим?</div>
          </div>
        </a></div>
        <div class="question_wrap"><a href="#">
          <div class="question">
            <div class="question_name">3. Какие планы на развитие магазина?</div>
          </div>
        </a></div>
        <!-- end of questions -->
      </div>
    </div>

  </div>
</body>
</html>