<!DOCTYPE html>
<html lang="ru">
<head>
  <link rel="stylesheet" href="css/index.css">

  <title>Интернет магазин игровых аккаунтов</title>
</head>

<body>
  <div class="main">

    <!-- header -->
    <header>
      <div class="site_name">Quazar Games</div>
      <a href="#">
        <div class="login_button">
          <div class="login_icon"></div>
        </div>
      </a>
    </header>

    <!-- nav -->
    <nav>
      <div class="nav_text">
        <div class="nav_chapter" id="chapter_active"><a href="#">Главная</a></div>
        <div class="nav_chapter"><a href="#">Игры</a></div>
        <div class="nav_chapter"><a href="#">Продать</a></div>
        <div class="nav_chapter"><a href="#">Гайд</a></div>
        <div class="nav_chapter"><a href="#">Поддержка</a></div>
      </div>
      <div class="separator"></div>
    </nav>

    <!-- sells counter -->
    <div class="counter">
      <div class="count">1, 000, 000</div>
      <div class="counter_text">Аккаунтов уже куплено</div>
    </div>

    <!-- last products -->
    <div class="offers">
      <div class="offers_text">Новые предложения</div>
      <div class="products">
        <!-- products -->
        <div class="product_wrap"><a href="#">
          <div class="product">
            <div class="product_no_price">
              <div class="product_game">Название игры /&nbsp;</div>
              <div class="product_name">Заголовок продавца</div>
            </div>
            <div class="product_price">28, 000</div>
          </div>
        </a></div>
        <div class="product_wrap"><a href="#">
          <div class="product">
            <div class="product_no_price">
              <div class="product_game">Название игры /&nbsp;</div>
              <div class="product_name">Заголовок продавца</div>
            </div>
            <div class="product_price">28, 000</div>
          </div>
        </a></div>
        <div class="product_wrap"><a href="#">
          <div class="product">
            <div class="product_no_price">
              <div class="product_game">Название игры /&nbsp;</div>
              <div class="product_name">Заголовок продавца</div>
            </div>
            <div class="product_price">28, 000</div>
          </div>
        </a></div>
        <div class="product_wrap"><a href="#">
          <div class="product">
            <div class="product_no_price">
              <div class="product_game">Название игры /&nbsp;</div>
              <div class="product_name">Заголовок продавца</div>
            </div>
            <div class="product_price">28, 000</div>
          </div>
        </a></div>
        <div class="product_wrap"><a href="#">
          <div class="product">
            <div class="product_no_price">
              <div class="product_game">Название игры /&nbsp;</div>
              <div class="product_name">Заголовок продавца</div>
            </div>
            <div class="product_price">28, 000</div>
          </div>
        </a></div>
        <!-- end of products -->
      </div>

      <div class="more_wrap">
        <a href="#" class="more">Посмотреть ещё...</a>
      </div>
    </div>

    <!-- social networks -->
    <div class="socials">
      <div class="social_text">Мы в социальных сетях</div>
      <div class="social_icons">
        <!-- social icons -->
        <div class="social_icon_wrap">
          <a href="#" class="social_icon"><div id="vk_logo"></div></a>
        </div>
        <div class="social_icon_wrap">
          <a href="#" class="social_icon"><div id="telegram_logo"></div></a>
        </div>
        <div class="social_icon_wrap">
          <a href="#" class="social_icon"><div id="discord_logo"></div></a>
        </div>
        <!-- end of social icons -->
      </div>
    </div>

  <!-- end of main -->
  </div>
</body>
</html>