<!DOCTYPE html>
<html lang="ru">
<head>
  <link rel="stylesheet" href="css/profile.css">

  <title>Интернет магазин игровых аккаунтов</title>
</head>

<body>
  <div class="main">

    <!-- header -->
    <header>
      <div class="site_name">Quazar Games</div>
      <a href="#">
        <div class="login_button">
          <div class="login_icon"></div>
        </div>
      </a>
    </header>

    <!-- nav -->
    <nav>
      <div class="nav_text">
        <div class="nav_chapter" id="chapter_passive"><a href="index.html">Главная</a></div>
        <div class="nav_chapter" id="chapter_passive"><a href="games.html">Купить</a></div>
        <div class="nav_chapter" id="chapter_passive"><a href="sell.html">Продать</a></div>
        <div class="nav_chapter" id="chapter_passive"><a href="guide.html">Гайд</a></div>
        <div class="nav_chapter" id="chapter_active"><a href="profile.html">Профиль</a></div>
      </div>
      <div class="separator"></div>
    </nav>

    <!-- balance -->
    <div class="balance_wrap">
      <div class="balance_no_button">
        <div class="balance_text">Баланс:</div>
        <div class="balance">12, 500 ₽</div>
      </div>
      <a class="output_button" href="#">Вывести</a>
    </div>

    <!-- outputs -->
    <div class="outputs_wrap">
      <div class="outputs_text">Заявки на вывод</div>
      <div class="outputs">
        <!-- outputs -->
        <div class="output_wrap"><a href="#">
          <div class="output">
            <div class="output_system">1. Qiwi</div>
            <div class="output_sum">2, 800</div>
          </div>
        </a></div>
        <div class="output_wrap"><a href="#">
          <div class="output">
            <div class="output_system">2. Тинькофф</div>
            <div class="output_sum">5, 600</div>
          </div>
        </a></div>
        <!-- end of outputs -->
      </div>
      <div class="more_wrap">
        <a href="#" class="more">Посмотреть ещё...</a>
      </div>
    </div>

    <!-- history -->
    <div class="historys_wrap">
      <div class="history_text">История вывода</div>
      <div class="historys">
        <!-- history -->
        <div class="history_wrap"><a href="#">
          <div class="history">
            <div class="history_system">1. Qiwi</div>
            <div class="history_sum">1, 900</div>
          </div>
        </a></div>
        <div class="history_wrap"><a href="#">
          <div class="history">
            <div class="history_system">2. Qiwi</div>
            <div class="history_sum">300</div>
          </div>
        </a></div>
        <!-- end of history -->
      </div>
      <div class="more_wrap">
        <a href="#" class="more">Посмотреть ещё...</a>
      </div>
    </div>

    <!-- accounts -->
    <div class="accounts_wrap">
      <div class="accounts_text">Аккаунты на продаже</div>
      <div class="accounts">
        <!-- accounts -->
        <div class="account_wrap"><a href="#">
          <div class="account">
            <div class="account_name">Фулл 10 ТХ</div>
            <div class="account_price">1, 800</div>
          </div>
        </a></div>
        <div class="account_wrap"><a href="#">
          <div class="account">
            <div class="account_name">11 ТХ не фулл</div>
            <div class="account_price">2, 200</div>
          </div>
        </a></div>
        <!-- end of accounts -->
      </div>
      <div class="more_wrap">
        <a href="#" class="more">Посмотреть ещё...</a>
      </div>
    </div>

    <!-- changes -->
    <div class="changes_wrap">
      <div class="changes_text">Изменить профиль</div>
      <div class="changes">
        <!-- changes -->
        <div class="change_wrap"><a href="#">
          <div class="change">
            <div class="change_name">Изменить E-mail</div>
          </div>
        </a></div>
        <div class="change_wrap"><a href="#">
          <div class="change">
            <div class="change_name">Изменить логин</div>
          </div>
        </a></div>
        <div class="change_wrap"><a href="#">
          <div class="change">
            <div class="change_name">Изменить пароль</div>
          </div>
        </a></div>
        <!-- end of changes -->
      </div>
      <div class="support_wrap">
        <a href="#" class="support">Обратиться в поддержку</a>
      </div>
    </div>


  </div>
</body>
</html>