<!DOCTYPE html>
<html lang="ru">
<head>
  <link rel="stylesheet" href="css/sell.css">

  <title>Интернет магазин игровых аккаунтов</title>
</head>

<body>
  <div class="main">

    <!-- header -->
    <header>
      <div class="site_name">Quazar Games</div>
      <a href="#">
        <div class="login_button">
          <div class="login_icon"></div>
        </div>
      </a>
    </header>

    <!-- nav -->
    <nav>
      <div class="nav_text">
        <div class="nav_chapter" id="chapter_passive"><a href="index.html">Главная</a></div>
        <div class="nav_chapter" id="chapter_passive"><a href="games.html">Купить</a></div>
        <div class="nav_chapter" id="chapter_active"><a href="sell.html">Продать</a></div>
        <div class="nav_chapter" id="chapter_passive"><a href="guide.html">Гайд</a></div>
        <div class="nav_chapter" id="chapter_passive"><a href="profile.html">Профиль</a></div>
      </div>
      <div class="separator"></div>
    </nav>

    <!-- sell -->
    <div class="sell_wrap">
      <div class="sell_text">Есть аккаунт? можешь продать его здесь</div>
      <div class="sell_text" id="st2">* Необходимо <a href="#">войти</a> на сайт</div>
    </div>

    <!-- sell form -->
    <form>
      <div class="form_text">Выберите игру</div>
      <input class="field" type="text">
      <div class="form_text">Придумайте заголовок для аккаунта</div>
      <input class="field" type="text">
      <div class="form_text">Опишите ценность вашего аккаунта</div>
      <input class="field" type="text">
      <input class="button" type="submit" value="Продать">
    </form>

    <!-- end text -->
    <div class="end_text_wrap">
      <div class="end_text">Перед продажей аккаунта рекомендуем ознакомиться с <a href="guide.html">гайдом</a></div>
    </div>

  </div>
</body>
</html>